body,
html {
  margin: 0;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

a {
  text-decoration: none !important;
  color: unset !important;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'PrimaryOrig';
  src: url('../public/assets/fonts/Primary.ttf') format('truetype');
}

@font-face {
  font-family: 'SecondaryOrig';
  src: url('../public/assets/fonts/Secondary.ttf') format('truetype');
}

.css-4dq96w-MuiCardContent-root:last-child {
  padding-bottom: 10px !important;
}

.popup-btn {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  border-radius: 50px;
  background-color: #00171F;
  color: white;
  padding: 5px 0px;
  cursor: pointer;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  text-transform: none;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  outline: 0;
  border: 0;
  margin: 10px 0 0 0;
}

.popup-btn:hover {
  background-color: #444849;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.popup-btn-disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  pointer-events: none;
  cursor: default;
}

.marker:hover {
  cursor: pointer;
}

.search-img {
  background-image: url('../public/assets/images/travel-explore.svg');
}

.settings-img {
  background-image: url('../public/assets/images/settings.svg');
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 10px 20px 0 0;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl {
  margin-right: 20px;
}